<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Telstra M2M Challenge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/site.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript" src="static/js/jquery.js"></script>
	<script type='text/javascript' src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKk9SBIqz3HqHslD_VwWPagJVXW2PGpCE&sensor=true"> </script>
	<script type="text/javascript" src="static/js/markerclusterer.js"></script>	
	<script type="text/javascript" src="static/js/es5-shim.min.js"></script>
	<script type="text/javascript" src="static/js/load_m2m_map_jsonp.js"></script> <!-- Javascript to load teams on m2m map -->
    <script src="static/js/bootstrap-transition.js"></script>
    <script src="static/js/bootstrap-alert.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/bootstrap-scrollspy.js"></script>
    <script src="static/js/bootstrap-tab.js"></script>
    <script src="static/js/bootstrap-tooltip.js"></script>
    <script src="static/js/bootstrap-popover.js"></script>
    <script src="static/js/bootstrap-button.js"></script>
    <script src="static/js/bootstrap-collapse.js"></script>
    <script src="static/js/bootstrap-carousel.js"></script>
    <script src="static/js/bootstrap-typeahead.js"></script>
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]> <script src="static/js/html5shiv.js"></script> <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="static/ico/favicon.png">

    {{ mymap.js }}

</head> 
  <body onload="initialize()"> <!-- Loading the function to load markers on a google map from script load_m2m_map.js-->

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="http://example.innovation.telstra.com/">M2M@telstra</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
			  <li><a href="http://example.innovation.telstra.com/">Getting started</a></li>
			  <li><a href="http://example.innovation.telstra.com/#section8.5">FAQ</a></li>
			  <li><a href="{{ url_for('show_map_unique_cpu') }}">Map</a></li>
			  <li><a href="{{ url_for('show_map') }}">Basic Map</a></li>
	          <li><a href="{{ url_for('show_records') }}">Records</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>Who has their Raspberry Pi up and running?</h1>
	  <p>
      <br> 
      On the map below, you can see the location of active Raspberry Pi&#174; devices on the Telstra network. The map is generated by collecting location information sent out by your team&#39;s Raspberry Pi&#174;. That means if you can see it, then you&#39;ve set it up correctly! <br>
      </p>

{{ mymap.html }}

    </div> 


  </body>
</html>
